
footer{
        background-color: rgb(239, 203, 241);
        height: 100px;
        margin-top: 550px;
        text-align: center;
        padding-top: 30px;
        font-family: cursive;
        bottom: 0px;
    }
  
.navbar-brand{
        font-family: cursive;
    }

img{
        max-width: 100%;
        max-height: 500px;
    }

.container-fluid{
    background-color: rgb(239, 203, 241);

}

.navbar{
    padding: 0px;
    
}

.container1{
    margin-left: 50px;
}