{% extends 'base.html' %}
{% load static %}
{% block title %}candle{% endblock %}

{% block content %}
{% for c in card_key %}
<div class="container"text-center>
    <div class="card text-center" style="width: 18rem;float: left;margin: 20px;">
        <img src="{{c.card_img.url}}" class="card-img-top" alt="..." style="max-width: 100%;
        max-height: 180px;">
        <div class="card-body">
          <h5 class="card-title">{{c.card_name}}</h5>
          <p class="card-text">{{c.card_id}}</p>
        </div>
      </div>
</div>
{% endfor %}
{% endblock %}