{% extends 'base.html' %}
{% load static %}
{% block title %}Shopping cart{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<div class="container1">
    
    <div class="card mx-3" style="width: 18rem;float: left;">
        <img src="{% static '/images/ceramic1.png' %}" class="card-img-top" alt="image">
        <div class="card-body">
          <h5 class="card-title">hand-painted ceramic</h5>
          <a href="{% url 'ceramic' %}" class="btn btn-primary">explore</a>
        </div>
      </div>
  
      
    <div class="card mx-3" style="width: 18rem;float: left;">
      <img src="{% static '/images/planters1.jpg' %}" class="card-img-top" alt="image" style=" max-width: 100%;
      max-height: 286px;">
      <div class="card-body">
        <h5 class="card-title">hand-made planters</h5>
        <a href="{% url 'planter' %}" class="btn btn-primary">explore</a>
      </div>
    </div>

    
    <div class="card mx-3" style="width: 18rem;float: left;">
      <img src="{% static '/images/planters1.jpg' %}" class="card-img-top" alt="image" style=" max-width: 100%;
      max-height: 286px;">
      <div class="card-body">
        <h5 class="card-title">hand-made candles</h5>
        <a href="{% url 'candle' %}" class="btn btn-primary">explore</a>
      </div>
    </div>

    
    <div class="card mx-3" style="width: 18rem;">
      <img src="{% static '/images/ceramic1.png' %}" class="card-img-top" alt="image">
      <div class="card-body">
        <h5 class="card-title">hand-made gift cards</h5>
        <a href="{% url 'card' %}" class="btn btn-primary">explore</a>
      </div>
    </div>
</div>
{% endblock %}